UBI_PLATFORM= UPLAY # platform of your Ubi Acc
UBI_EMAIL= your Ubi Acc's email, for main user, used for items, sales and marketplace configs + tags stats fetching
UBI_PASSWORD= your Ubi Acc's password

TELEGRAM_BOT_TOKEN= your tg bot token, receive from @BotFather
TELEGRAM_BOT_USERNAME= your tg bot username, receive from @BotFather

PASSWORD_ENCRYPTION_KEY= AES password encryption key for storing passwords in db

POSTGRES_USER= postgres container user
POSTGRES_PASSWORD= postgres container password

PGADMIN_DEFAULT_EMAIL= pgadmin default email
PGADMIN_DEFAULT_PASSWORD= pgadmin default password